@inherits LayoutComponentBase
<CrtScreen PhosphorColor="#9cff8a"
           Glow="0.9"
           ScanlineStrength="0.35"
           MaskStrength="0.25"
           Curvature="0.012"
           Bulge="0.006"
           NoFlicker="false">

    <div class="page">
        <main class="content">
            @Body
        </main>
    </div>

</CrtScreen>

